body {
    background-color: rgb(229, 117, 117);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 colonnes égales */
    gap: 10px;

    padding: 10px;
    /* pour que le contenu ne touche pas les bords */
}

.container article {
    display: flex;
    border: 10px solid rgb(205, 23, 54);
    /* pas flexbox ! */
    justify-content: center;
    /* centre horizontalement */
    align-items: center;
    /* centre verticalement */
    border: 1px solid #ccc;
    /* pour mieux voir les articles */
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(250, 219, 179);
    width: 80%;


}