@font-face {
    font-family: "DWpoli";
    src: url(/ressources/fonts/IMFellDWPica-Regular.ttf);
}

 @font-face {
    font-family: "Bricolage";
    src: url(/ressources/fonts/Bricolage_Grotesque/);
}

body {
    background-color: rgb(250, 217, 228);
    font-family: "DWpoli", Verdana;
    font-size: 1rem;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: auto;
}

li {
    text-decoration: underline;
    font-size: 18px;
}

header {
    margin: 50px;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
    text-shadow: #ac07344a -1px 2px 2px;
    color: rgba(206, 5, 69, 0.79);
    text-align: center;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    margin: 50;
}

h2 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
    text-shadow: #ac07344a -1px 2px 2px;
    color: rgba(206, 5, 69, 0.79);
    text-align: center;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
    text-shadow: #ac07344a -1px 2px 2px;
    color: rgba(206, 5, 69, 0.79);
    text-align: center;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}